/* CSS reset ---------------------------------------------------------------- */
body,
div,
p,
img,
form,
input,
button {
  padding: 0;
  margin: 0;
  font: inherit;
}

input {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #fff;
}

img,
iframe {
  border: 0;
  vertical-align: middle;
}

.clear {
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

:focus {
  outline-color: #0a2bed;
}
/* Fim CSS reset ------------------------------------------------------------ */

body {
  margin: 0;
  padding: 5px;
  width: 700px;
  font: 13px droid sans, segoe ui, ubuntu, arial, sans serif;
}

#main {
  display: block;
}

#json {
  display: none;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}

#type {
  padding: 3px;
  margin: 2px 0 10px 10px;
  width: 55px;
  height: 25px;
  float: left;
  color: #888;
  border-radius: 5%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

#type.localstorage,
#type.sessionstorage,
#type.cookies {
  color: rgb(255 255 255);
  background-color: rgb(64 158 255);
  border-color: rgb(64 158 255);
  border-radius: 4px;
}

#type:hover {
  color: #555 !important;
  content: attr(title);
}

#buttons {
  margin-right: 20px;
  float: right;
}

button {
  padding: 4px 18px;
  margin: 2px 0 10px 10px;
  color: rgb(255 255 255);
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #555;
  text-decoration: none;
  border-radius: 4px;
}

button:hover {
  color: #555 !important;
}

button:active {
  position: relative;
  top: 1px;
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 5px;
  font-weight: normal;
}

table.localstorage th,
table.sessionstorage th {
  font-size: 15px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 7px;
  border: 0;
}

.valueinput {
  width: 99%;
  padding: 2px;
  border-radius: 2px;
  border: 0.3px solid rgb(224 206 206);
}

th,
td {
  border: 1px solid #ddd;
}

.td-nome {
  width: 210px;
}

.td-value {
  width: 430px;
}

.td-icon {
  width: 30px;
  text-align: center;
}

td.td-icon {
  cursor: pointer;
}

p {
  font-size: 15px;
  font-style: italic;
}

p.localstorage {
  color: #e65100;
}

p.sessionstorage {
  color: #33691e;
}

p.error {
  color: #d50000;
}

.string {
  color: #df0101;
}

.number {
  color: #0b610b;
}

.boolean {
  color: #5f04b4;
}

.null {
  color: #ff8000;
}

.key {
  color: #0000ff;
}
